<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "suite">
	<test thread-count = "4" name = "swapi-api-test">
		<classes>
		     <class name = "com.swapi.test.SwapiEndPointTest" /> 
		  	<class name = "com.swapi.test.TotalNumberOfPeopleTest" /> 
		  	<class name = "com.swapi.test.IndividualHeightTest" /> 
		 	<class name = "com.swapi.test.HeightOfPeopleTest" /> 
		</classes>
	</test>
</suite>
